<ul style="list-style-type:none">    
    {% for episode in podcast.episodes %} 
    {% if episode.number >= 10 and <= 99 %}
      {% set Nullen = 0 %}
    {% endif %}
    {% if episode.number < 10 %}
      {% set Nullen = '00' %} {# The apostrophes are important, otherwise the 00 would be interpreted as a number and reduced to a single 0 #}
    {% endif %}
    
    
      <li style="margin-bottom:20px;border-bottom:1px solid black"><span style="font-weight:bold;font-size:1.5em"><a href="{{ episode.url }}">{{ podcast.mnemonic }}{{ Nullen }}{{ episode.number }}: {{ episode.title }}</a></span><br />
      {{ episode.subtitle }}<br />
      <strong>Moderation:</strong> 
     {% for contributor in episode.contributors({group:"stamm"}) %}
		{% if contributor.visible %}
				<span class="name">{{ contributor.name }}</span></span>{% if not loop.last %}, {% else %}. {% endif %}
		{% endif %}
	{% endfor %}
	{% if episode.contributors({group:"guests"})|length > 0 %}
	    <strong>Zu Gast:</strong> 
    	{% for contributor in episode.contributors({group:"guests"}) %}
    		{% if contributor.visible %}
    				<span class="name">{{ contributor.name }}</span></span>{% if not loop.last %}, {% else %}. {% endif %}
    		{% endif %}	
    	{% endfor %}
    {% endif %}
    <br />
      <span class="podlove-duration" style="margin-right:30px"><img src="http://icons.joernschaar.de/dauer.png" alt="Die Dauer der Episode" title="Die Dauer der Episode" width="20px"> {{ episode.duration }}</span><span class="podlove-duration" style="margin-right:30px"><img src="http://icons.joernschaar.de/kalender.png" alt="Diese Episode erschien am" title="Diese Episode erschient am" width="20px"> {{ episode.publicationdate.format('d.m.Y') }}</span><span class="podlove-duration"><img src="http://icons.joernschaar.de/downloads.png" alt="Downloads seit Veröffentlichung" title="Downloads seit Veröffentlichung" width="20px"> {{ episode.total_downloads | number_format(0, ',', '.') }} Downloads</span> </small></li>
    {% endfor %}
</ul>
