{# See it working on https://www.campingcaravanpodcast.de/2016/10/04/ccp-009-der-auswanderer-iii/ or 
https://www.campingcaravanpodcast.de/2016/10/15/ccp010-der-norwegen-trip/ #}
{% set episodename = episode.title %} {# set variable for later use #}
<h3>Moderation:</h3>
[podlove-episode-contributor-list role="stammbesatzung"]
{% if episode.contributors({group:"guests"})|length > 0 %} {# if episode has more than zero guests, insert shortcode #}
    <h3>Zu Gast:</h3>
    [podlove-episode-contributor-list role="guests"]
{% endif %}
{% for contributor in episode.contributors({group:"guests"}) %}
{% set anzahl = contributor.episodes|length - 1 %} {# find number of episodes with this specific guest and reduce it by one #}
    {% if anzahl == 1 %} {# if guest was in exactly one other episode, insert singular headline #}
        <h3>Die andere Episode mit {{ contributor.name }}:</h3>
        <ul>
        {% for episode in contributor.episodes %} 
            {% if episode.title != episodename %} {# list episodes with this specific guest except this episode #}
                <li><a href="{{ episode.url }}">{{ episode.title }}</a></li>
            {% endif %}
        {% endfor %}
        </ul>
    {% endif %}

    {% if anzahl >1 %} {# if guest was in more than one episode, insert plural form of headline #}
        <h3>Weitere Episoden mit {{ contributor.name }}:</h3>
        <ul>
        {% for episode in contributor.episodes %}
            {% if episode.title != episodename %} {# list all episodes with this particular guest except this one #}
                <li><a href="{{ episode.url }}">{{ episode.title }}</a></li>
            {% endif %}
        {% endfor %}
        </ul>
    {% endif %}
{% endfor %}
<p style="margin-bottom:50px">&nbsp;</p>

