<p> </p>
{% if not is_feed() %}
  {{ episode.player }}
  {% if episode.contributors({role: 'guest'})|length > 0 %}{{ include("episodengast") }}{% endif %}
  <p><small>&nbsp;</small><br />{{ episode.summary }}</p>
  {% if is_single() %}
    {% if episode.chapters|length > 0 %}
        {% set total = 0 %}
        {% set total = total + episode.duration.totalMilliseconds / episode.chapters|length %}
        {% set hours   = total  // (1000 * 3600) %}
        {% set minutes = (total // (1000 * 60)) % 60 %}
        {% set seconds = (total // 1000) % 60 %}
        <p>Diese Episode hat {{ episode.chapters|length }} Kapitelmarken und jede von ihnen ist durchschnittlich ca. {% if hours > 0 %} {{ hours }} Stunden{% endif %} {{ minutes }} Minuten {% if seconds != 0 %}und {{ seconds }} Sekunden {% endif %}lang. </p>
    {% endif %}

  {% endif %}
{% else %}
  <p>{{ episode.summary }}</p>
  <p>Dauer: {% if episode.duration.hours > 0 %}{{ episode.duration.hours }} Stunden{% endif %} {{ episode.duration.minutes }} Minuten und {{ episode.duration.seconds }} Sekunden, erschienen am {{ episode.publicationdate.format('d.m.Y') }} um {{ episode.publicationdate.format('G:i') }} Uhr.</p>
  {% if episode.contributors({role: 'guest'})|length > 0 %}
    <p>Heute mit dabei: 
        {% for contributor in episode.contributors({role: 'guest'}) %}
            {% if contributor.id != "joern" %}
                {{ contributor.name }} {% if contributor.comment %}({{ contributor.comment }}){% else %}({{ contributor.jobtitle }}){% endif %}{% if not loop.last %}, {% endif %}
            {% endif %}
        {% endfor %}
    </p>
  {% endif %}
  <p>Alle Links und Shownotes findest Du zusätzlich auch <a href="{{ episode.url }}">in meinem Blog</a>.</p>
{% endif %}
