<p>{{ podcast.summary }}</p>

{% set total = 0 %}
{% for episode in podcast.episodes %}
    {% set total = total + episode.duration.totalMilliseconds %}
{% endfor %}

{% set Durchschnittslänge = total / podcast.episodes|length %}

{% set hours   = total  // (1000 * 3600) %}
{% set minutes = (total // (1000 * 60)) % 60 %}
{% set seconds = (total // 1000) % 60 %}

{#
{% if hours < 10 %}
    {% set hours = "0" ~ hours %}
{% endif %}

{% if minutes < 10 %}
    {% set minutes = "0" ~ minutes %}
{% endif %}

{% if seconds < 10 %}
    {% set seconds = "0" ~ seconds %}
{% endif %}
#}

{% set durchschnitthours   = Durchschnittslänge  // (1000 * 3600) %}
{% set durchschnittminutes = (Durchschnittslänge // (1000 * 60)) % 60 %}
{% set durchschnittseconds = (Durchschnittslänge // 1000) % 60 %}

{# 
{% if durchschnitthours < 10 %}
    {% set durchschnitthours = "0" ~ durchschnitthours %}
{% endif %}

{% if durchschnittminutes < 10 %}
    {% set durchschnittminutes = "0" ~ durchschnittminutes %}
{% endif %}

{% if durchschnittseconds < 10 %}
    {% set durchschnittseconds = "0" ~ durchschnittseconds %}
{% endif %} 
#}

{{ podcast.title }} besteht (incl. der Episoden von "<a href="http://www.meine-url-ist-laenger-als-deine.de/?cat=61">Wie klingt Dein Tag?</a>" und dem <a href="http://www.meine-url-ist-laenger-als-deine.de/?podcast=der-podcast-eintopf">Podcast-Eintopf</a>) aus {{ podcast.episodes|length }} veröffentlichten Episoden. 
{% if podcast.episodes({post_status: 'future'})|length > 0 %}
    (Geplante, aber noch nicht veröffentlichte Episoden: {{ podcast.episodes({post_status: 'future'})|length }}.)
{% endif %}
Ihre Gesamtdauer beträgt {{ hours }} Stunden {{ minutes }} Minuten und {{ seconds }} Sekunden. Die durchschnittliche Episode ist {% if durchschnitthours > 0 %}{{ durchschnitthours }} Stunden{% endif %} {{ durchschnittminutes }} Minuten und {{ durchschnittseconds }} Sekunden lang. 

<ul style="list-style-type:none">
    {% for episode in podcast.episodes({post_status: 'future'}) %}
        <li style="color: #a59f9f;margin-top:20px;margin-bottom:20px"><b>{{ episode.post.post_title }}</b> (erscheint am {{ episode.publicationDate.format('j. F Y') }} um {{ episode.publicationDate.format('H:i') }} Uhr.) </li>
    {% endfor %}
    {% for episode in podcast.episodes %} 
    {% set Stunden = episode.duration.hours %}
    {% set Minuten = episode.duration.minutes %} 
    {% set Sekunden = episode.duration.seconds %}
      <li style="margin-bottom:20px;border-top:1px solid grey"><span style="font-weight:bold;font-size:1.5em"><a href="{{ episode.url }}">{{ episode.post.post_title }}</a></span>{% if episode.explicit == 'yes' %}<span style="color: red;font-weight:bold;margin-left:15px"><abbr title="Explizit: Hier wird geschimpft und/oder über Sex und Geschlechtsteile gesprochen">(E)</abbr></span>{% endif %}<br /><span style="font-weight:italic">{{ episode.subtitle }}</span><br /><small><span class="podlove-duration" style="margin-right:30px"><img src="http://icons.joernschaar.de/dauer.png" alt="Die Dauer der Episode" title="Die Dauer der Episode" width="20px">  {% if Stunden > 0 %}{{ Stunden }}{% endif %}
        {% if Stunden  == 1 %} Stunde
        {% elseif Stunden  > 1 %} Stunden
        {% endif %}
    {{ Minuten }} 
    {% if Minuten == 0 %} 0 Minuten
      {% elseif Minuten == 1 %} Minute
      {% elseif Minuten > 1 %} Minuten
    {% endif %} 
    und {{ Sekunden }} 
    {% if Sekunden == 0 %} Sekunden
      {% elseif Sekunden == 1 %} Sekunden 
      {% elseif Sekunden > 1 %} Sekunden 
    {% endif %}
      
      </span><span class="podlove-duration" style="margin-right:30px"><img src="http://icons.joernschaar.de/kalender.png" alt="Diese Episode erschien am" title="Diese Episode erschien am" width="20px"> {{ episode.publicationdate.format('d.m.Y') }}</span> </small></li>
    {% endfor %}
</ul>
