{# shows the newest episode in full scale with player, shownotes and all. After that the next ten episodes are 
displayed in a more compact way and another 5 in a supercompact way. See it working at http://www.meine-url-ist-laenger-als-deine.de! #}

{% for episode in podcast.episodes({limit:'16'}) %} {# Show the 16 newest episodes #}
    {% if episode.type == 'full' %} {# skip episodes that are marked as bonus or trailer #}
        {% if loop.first %} {# only for the newest episode: Show webplayer, episode info and shownotes #}
            <h1>Neueste Episode: <a href="{{ episode.url }}">{{ episode.post.post_title }}</a></h1>
            <p>{{ episode.summary }}</p>
            <p> </p>
            {{ episode.player }}
            <small><span class="podlove-duration" style="margin-right:75px"><img src="http://icons.joernschaar.de/dauer.png" alt="Die Dauer der Episode" title="Die Dauer der Episode" width="20px"> {{ episode.duration }}</span><span class="podlove-duration" style="margin-right:75px"><img src="http://icons.joernschaar.de/kalender.png" alt="Diese Episode erschien am" title="Diese Episode erschien am" width="20px"> {{ episode.publicationdate }}</span></small>
            <p> </p>
            {{ episode.post.post_content }} {# HTML content a.k.a. shownotes #}
            <p style="margin-bottom:30px">&nbsp;</p>
            <h1>Ältere Episoden:</h1>
        {% elseif loop.index > 10 %} {# the last 5 episodes in this list shall only be shown by title and publication date #}
            <p><a href="{{ episode.url }}"><b>{{ episode.post.post_title }}</b></a> vom {{ episode.publicationDate }}</p>
        {% else %}    {# episodes from 2 up to 10 shall be shown with episode info like duration and publication date #}
            {% set Stunden = episode.duration.hours %}
            {% set Minuten = episode.duration.minutes %} 
            {% set Sekunden = episode.duration.seconds %}
            <p style="margin-top:20px"><span style="font-weight:bold;font-size:1.5em"><a href="{{ episode.url }}">{{ episode.post.post_title }}</a></span><br /><span style="font-weight:italic">{{ episode.subtitle }}</span><br /><small><span class="podlove-duration" style="margin-right:30px"><img src="http://icons.joernschaar.de/dauer.png" alt="Die Dauer der Episode" title="Die Dauer der Episode" width="20px"> {% if Stunden > 0 %}{{ Stunden }}{% endif %}
            {% if Stunden  == 1 %} Stunde
            {% elseif Stunden  > 1 %} Stunden
            {% endif %}
            {{ Minuten }} 
            {% if Minuten == 0 %} 0 Minuten
            {% elseif Minuten == 1 %} Minute
            {% elseif Minuten > 1 %} Minuten
            {% endif %} 
            und {{ Sekunden }} 
            {% if Sekunden == 0 %} Sekunden
            {% elseif Sekunden == 1 %} Sekunden 
            {% elseif Sekunden > 1 %} Sekunden 
            {% endif %}
      
          </span><span class="podlove-duration" style="margin-right:30px"><img src="http://icons.joernschaar.de/kalender.png" alt="Diese Episode erschien am" title="Diese Episode erschien am" width="20px"> {{ episode.publicationdate.format('d.m.Y') }}</span> </small></li>
        {% endif %}
    {% endif %}
{% endfor %}

<p><a href="http://www.meine-url-ist-laenger-als-deine.de/?page_id=29195">Weitere Episoden gibt es im Archiv</a></p>
