<p>{{ podcast.summary }}</p>

<ul style="list-style-type:none">
    {% for episode in podcast.episodes %} 
    {% set Stunden = episode.duration.hours %}
    {% set Minuten = episode.duration.minutes %} 
    {% set Sekunden = episode.duration.seconds %}
      <li style="margin-bottom:20px;border-top:1px solid grey"><span style="font-weight:bold;font-size:1.5em"><a href="{{ episode.url }}">{{ episode.post.post_title }}</a></span><br /><span style="font-weight:italic">{{ episode.subtitle }}</span><br /><small><span class="podlove-duration" style="margin-right:30px"><img src="http://icons.joernschaar.de/dauer.png" alt="Die Dauer der Episode" title="Die Dauer der Episode" width="20px">  {% if Stunden > 0 %}{{ Stunden }}{% endif %}
        {% if Stunden  == 1 %} Stunde
        {% elseif Stunden  > 1 %} Stunden
        {% endif %}
    {% endif %}
    {{ Minuten }} 
    {% if Minuten == 0 %} 0 Minuten
      {% elseif Minuten == 1 %} Minute
      {% elseif Minuten > 1 %} Minuten
    {% endif %} 
    und {{ Sekunden }} 
    {% if Sekunden == 0 %} Sekunden
      {% elseif Sekunden == 1 %} Sekunden 
      {% elseif Sekunden > 1 %} Sekunden 
    {% endif %}
      
      </span><span class="podlove-duration" style="margin-right:30px"><img src="http://icons.joernschaar.de/kalender.png" alt="Diese Episode erschien am" title="Diese Episode erschien am" width="20px"> {{ episode.publicationdate.format('d.m.Y') }}</span> </small></li>
    {% endfor %}
</ul>
