<p>{{ episode.summary }}</p> {# insert episode summary #}

{% if not is_feed() %}   {# Player and metadata with icons shall not be inserted to the feed #}
{{ episode.player }}

<small><span class="podlove-duration" style="margin-right:20px"><img src="http://icons.joernschaar.de/dauer.png" alt="Die Dauer der Episode" title="Die Dauer der Episode" width="20px"> {{ episode.duration }}</span><span class="podlove-duration" style="margin-right:20px"><img src="http://icons.joernschaar.de/kalender.png" alt="Diese Episode erschien am" title="Diese Episode erschient am" width="20px"> {{ episode.publicationdate }}</span><span class="podlove-duration"><img src="http://icons.joernschaar.de/downloads.png" alt="Downloads seit Veröffentlichung" title="Downloads seit Veröffentlichung" width="20px"> {{ episode.total_downloads | number_format(0, ',', '.') }} Downloads</span> </small>
{% else %}    {# Metadata for the feed #}
<small><span class="podlove-duration">Diese Episode dauert {{ episode.duration }}, ist erschienen am {{ episode.publicationdate.format('d.m.Y') }} und bisher gab es {{ episode.total_downloads | number_format(0, ',', '.') }} Downloads.</span></small>
{% endif %}
